@import "~src/theme.scss";

$footer-height: 40px;

article {
  @include card;
  color: black;

  h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    opacity: .8;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  p {
    opacity: .7;
    margin: 5px 0;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  footer {
    display: flex;
    line-height: $footer-height;

    a {
      display: flex;
      color: inherit;
      text-decoration: none;
      line-height: $footer-height;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
    }

    strong {
      font-weight: 500;
      opacity: .8;
      margin-right: 10px;
    }

    small {
      font-weight: 300;
      opacity: .6;
      margin-right: 10px;
    }

    .material-icons {
      line-height: $footer-height;
      margin-right: 5px;
      opacity: .6;
    }

    .filler {
      flex-grow: 1;
    }
  }
}
