<article>
  <h2><a routerLink="/questions/{{question.id}}">{{question.title}}</a></h2>
  <p><a routerLink="/questions/{{question.id}}">{{question.firstPost.excerpt}}</a></p>
  <footer>
    <a routerLink="/people/{{question.firstPost.author.id}}">
      <img [src]="question.firstPost.author.avatar" />
      <strong>{{question.firstPost.author.username}}</strong>
    </a>
    <small>Asked {{question.firstPost.postedAt | date:'MMM d, yyyy'}}</small>
    <span class="filler"></span>
    <span class="material-icons">chat_bubble_outline</span>
    <small>{{question.answerCount}} answer(s)</small>
  </footer>
</article>
