@import "~src/theme";

:host {
  background-color: $primary-background-color;
  color: $secondary-background-color;
  font-family: $primary-font;
  padding: 0 10px;
  width: $width-sidebar-left;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;

  h1 {
    @include title;
    color: $secondary-background-color;
    font-size: 30px;
    text-align: center;
  }

  hr {
    border-color: white;
    opacity: .3;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      a {
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 24px;
        display: flex;
        color: white;
        opacity: .7;
        padding: 10px;
        transition: opacity .3s;

        .material-icons {
          margin-right: 10px;
        }

        &.active {
          color: $secondary-color;
          opacity: 1;

          &:after {
            content: '';
            display: block;
            background-color: $secondary-background-color;
            width: 30px;
            height: 30px;
            position: absolute;
            transform: rotate(45deg);
            right: -30px;
            top: 4px;
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
